/* degug */

.debug .header_bar{
    background-color: brown;
    height: 70px;
} 

.mobile_logo{
    height: 30px;
}
.debug main{
    height: calc(100vh - 70px);
}

.ms_aside_bot{
    height: 100px;
}

.debug .ms_side_bar{
    width: 70px;
    /* height: calc(100vh - 70px); */
    background-color: coral;
    
}

.debug .ms_main{
    /* height: 100%; */
    background-color: mediumspringgreen;
    padding: 0;
    height: calc(100vh - 70px);
}

.debug .ms_big_container{
    width: calc(100% - 70px);   
    height: 100%;
    background-color: blue;
}

.debug .ms_action_bar{
    min-height: 150px;
    background-color: slategray;
}

.debug .row{
    margin: 0;
    /* padding: 50px; */
}

.debug .ms_card{
    background-color: purple;
    min-height: 500px;
}

.debug .ms_card_small{
    background-color: rgb(116, 67, 116);
    min-height: 200px;
}

.debug .ms_card_tiny{
    background-color: rgb(67, 116, 78);
    min-height: 500px;
}

.ms_visible ul,.ms_side_bar ul{
    list-style: none;
}

.ms_visible a {
    text-decoration: none;
}

.ms_visible li{
    padding: 0 5px;
}

.ms_visible,.ms_visible_little{
    display: none;
}



.ms_borded_rounded{
    border: 1px solid white;
    border-radius: 25px;
    padding: 0 5px;
}

#offcanvasRight{
    width: 100%;
}

th img{
    height: 30px;
}

i.fa-solid.fa-pencil.border.p-2.rounded-2,i.fa-solid.fa-trash.border.p-2.rounded-2 {
    color: darkgray;
}


/* media query */

@media screen and (min-width : 768px){
    .ms_action_bar{
        display: flex;
        justify-content: space-between;
    }

    .ms_visible_little{
        display: inline-block;
    }

    .ms_new_student{
        order:2;
    }

    #offcanvasRight{
        width: 50%;
    }
}


@media screen and (min-width : 992px){
   
    .debug .ms_side_bar{
        width: 150px;
       
    }

    
    .debug .ms_big_container{
        width: calc(100% - 150px);
       
    }

    .ms_hidden{
        display: none;
    }


    .ms_visible{
        display:inline-block;
    }


}



/* cose utili */


/* <i class="fa-solid fa-magnifying-glass"></i> */